<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1 th:if="${user.id == null}">Create User</h1>
    <h1 th:if="${user.id != null}">Edit User</h1>
    <form th:action="${user.id == null} ? @{/users} : @{/users/update/{id}(id=${user.id})}" 
    th:object="${user}" method="post">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" th:field="*{name}"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" th:field="*{email}"/>
        </div>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>